-- SQL to update approval_requests table to include customer role
-- This needs to be run in your Supabase SQL editor

-- Drop the existing check constraint
ALTER TABLE approval_requests 
DROP CONSTRAINT approval_requests_role_requested_check;

-- Add new check constraint that includes 'customer'
ALTER TABLE approval_requests 
ADD CONSTRAINT approval_requests_role_requested_check 
CHECK (role_requested IN ('customer', 'seller', 'service_provider'));

-- Verify the change (using correct column for newer PostgreSQL)
SELECT 
    conname,
    pg_get_constraintdef(oid) as constraint_definition
FROM pg_constraint 
WHERE conname = 'approval_requests_role_requested_check';
